html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #e8e8e8;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins';
  }
  .bgc-black{
      background-color: #22252d;
  }
  .c-white{
    color:#fff;
  }
  .calculator {
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding-top: 40px;
  }

  .calculator-screen {
    width: 100%;
    border: none;
    color: #fff;
    text-align: right;
    padding: 0 30px;
  }
  .calculator-screen:nth-child(1){
    font-size: 2rem;
  }
  .calculator-screen:nth-child(2){
    font-size: 4rem;
  }
  

  button {
    height: 60px;
    font-size: 2rem!important;
  }

  .equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
  }

  .calculator-keys {
    padding: 20px;
  }
  .number-pad{
      border-radius: 10% 10% 30px 30px;
      background-color: #292d36;
      padding: 20px 0;
  }
  .number-pad button{
    background-color: #272b33;
  }